@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим за разработка</h3>
<p>
    При превключване към среда <strong>Development</strong> ще се показва по-подробна информация за възникналата грешка.
</p>
<p>
    <strong>Средата Development не трябва да бъде активна за публикувани приложения.</strong>
    Това може да доведе до показване на чувствителна информация от изключения към крайни потребители.
    За локално дебъгване активирай среда <strong>Development</strong>, като зададеш променливата <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>
    и рестартираш приложението.
</p>
